{% comment %}
    Renders cart-notification

    Usage:
    {% render 'cart-notification' %}
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<cart-notification class="popup-modal popup-modal__right"> 
  <div class="popup-modal__overlay" onclick="this.closest('.popup-modal').close()"></div>
  <div id="cart-notification"
       class="popup-modal__content popup-modal__content__f-height"
       aria-modal="true"
       aria-label="{{ 'general.cart.item_added' | t }}"
       role="dialog"
       tabindex="-1"
    >
    <button class="popup-modal__toggle modal-close-animation" type="button" onclick="this.closest('.popup-modal').close()" aria-label="{{ 'accessibility.close' | t }}">
	  {{- 'icon-close' | append: settings.system_icon_thickness | inline_asset_content -}}
    </button>
    <div class="cart-notification__content popup-modal__content__data custom__scrollbar">
      <div class="cart-notification__container text-center">
        <h4 class="mt0 cart-notification__heading">{{ 'general.cart.item_added' | t }}</h4>
        
        <div id="cart-notification-product" class="cart-notification-product">
          {%- if cart != empty -%}
            {%- for item in cart.items -%}
              <div id="cart-notification-product-{{ item.key }}" class="cart-item">
                {%- if item.image -%}
                {%- capture image_html -%}
                <img
                    src="{{ item.image | image_url: width: 280 }}"
                    width="{{ item.image.width }}"
                    height="{{ item.image.height }}"
                    alt="{{ item.image.alt | escape }}"
                    loading="lazy"
                    >
                {%- endcapture -%}
                <div class="cart-notification-product__image">
                  {{ image_html }}
                </div>
                {%- endif -%}
                <div class="cart-notification-product__details body3 mt--first-child-0">
                  {%- if settings.show_vendor -%}
                  <p>
                    <a class="mt0 product-card-small__meta link link__base-to_accent-color text-uppercase a--no-hover-color native-hover"
                      href="{{ routes.collections_url }}/all?filter.p.vendor={{ item.product.vendor | escape }}">{{ item.product.vendor }}</a>
                  </p>
                  {%- endif -%}
                  
                  <h6 class="mt10 mb0">{{ item.product.title | escape }}</h6>
                  <div class="mt10">{{ item.original_price | money }}</div>
                  {%- capture options -%}
                  {%- unless item.product.has_only_default_variant -%}
                  {%- for option in item.options_with_values -%}
                  <div class="product-option">
                    <dt>{{ option.name }}: </dt>
                    <dd>{{ option.value }}</dd>
                  </div>
                  {%- endfor -%}
                  {%- endunless -%}
                  {%- for property in item.properties -%}
                  {%- assign property_first_char = property.first | slice: 0 -%}
                  {%- if property.last != blank and property_first_char != '_' -%}
                  <div class="product-option">
                    <dt>{{ property.first }}: </dt>
                    <dd>
                      {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}" class="link" target="_blank">
                        {{ property.last | split: '/' | last }}
                      </a>
                      {%- else -%}
                      {{ property.last }}
                      {%- endif -%}
                    </dd>
                  </div>
                  {%- endif -%}
                  {%- endfor -%}
                  {%- endcapture -%}
                  {%- if options != blank -%}
                  <dl class="mt3">{{ options }}</dl>
                  {%- endif -%}
                  {%- if item.selling_plan_allocation != nil -%}
                    <p class="mt10 product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}

        </div>
  
        {%- if settings.show_free_delivery -%}
        <div id="cart-free-delivery" class="free-delivery-bar"></div>
        {%- endif -%}
  
        <div class="cart-notification__links">
          <a id="cart-notification-button"
             href="{{ routes.cart_url }}"
             class="btn btn__transition-text w-full">
            <div class="btn__texts">
              <span class="btn__top-text is-visible">{{- 'general.cart.view_empty_cart' | t -}}</span>
              <span class="btn__bottom-text is-hidden">{{- 'general.cart.view_empty_cart' | t -}}</span>
            </div>
          </a>
          {%- if settings.terms_and_condition_checkbox -%}
          <terms_and_condition-checkbox>
            <label for="cart-notification-terms_and_condition_checkbox" class="checkbox-input body2">
              <input id="cart-notification-terms_and_condition_checkbox"
                     type="checkbox">
              <div class="checkbox-input__checkmark">
                <div class="checkbox-input__flip btn--secondary">
                  <div class="checkbox-input__front"></div>
                  <div class="checkbox-input__back">{{- 'icon-checkmark' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
                </div>
              </div>
              <span>{{ 'general.accept_terms_checkbox_html' | t }}</span>
            </label>
          </terms_and_condition-checkbox>
          {%- endif -%}
          {%- if settings.show_checkout_button -%}
          <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
            <button class="btn btn__transition-text w-full" name="checkout">
              <div class="btn__texts">
                <span class="btn__top-text is-visible">{{- 'icon-check' | append: settings.system_icon_thickness | inline_asset_content -}}{{ 'sections.cart.checkout' | t }}</span>
                <span class="btn__bottom-text is-hidden">{{- 'icon-check' | append: settings.system_icon_thickness | inline_asset_content -}}{{ 'sections.cart.checkout' | t }}</span>
              </div>
            </button>
          </form>
          {%- endif -%}
          {% if additional_checkout_buttons and settings.show_accelerated_checkout_buttons %}
          <div class="cart__dynamic-checkout-buttons additional-checkout-buttons additional-checkout-buttons--vertical mt10">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
        </div>
      </div>

      <div class="mt40 mb20">
        <button type="button" class="link link--medium link--max-content link-hover-span strong">
          {{- 'icon-arrow-left-2' | append: settings.system_icon_thickness | inline_asset_content -}}
          <span>{{ 'general.continue_shopping' | t }}</span>
        </button>
      </div>

      {% assign popups = section.blocks | where: "type", "complementary" %}
      {%- for block in popups -%}
      <div class="drawer__footer-content__left dcomp__desk dcomp__desk-js{% if block.settings.mobile_show == false %} mobile_hide{% endif %}">
        <div class="drawer__footer-content__left__content custom__scrollbar" role="dialog" tabindex="-1">
          {%- for item in cart.items -%}
          <div data-product-id-js="{{ item.key }}">
            <h6 class="mt0 drawer__footer-content__left__heading">{{ "general.cart.complementary_products" | t: product_name: item.product.title }}</h6>
            <complementary-products
              class="complementary-products complementary-products-drawer display-block ignore-js"
              data-url="{{ routes.product_recommendations_url }}?intent=complementary"
              data-section-id="{{ section.id }}"
              data-product-id="{{ item.product_id }}"
            >{%- if recommendations.performed and recommendations.products_count > 0 -%}
              {%- for product in recommendations.products -%}
              {%- render "product-card-complementary",
                  section: section,
                  block: block,
                  product: product,
                  show_variant_picker: true,
                  show_immediately: true,
                  price_size:'normal'
              -%}
              {%- endfor -%}
              {%- endif -%}</complementary-products>
          </div>
          {%- endfor -%}
        </div>
      </div>
      {%- endfor -%}

    </div>
  </div>
</cart-notification>